
@{
    ViewData["Title"] = "ModuleMaster";
    Layout = "~/Areas/ProductAdmin/Views/Shared/_ProductOwner.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Module Master</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Module Name : <em class="text-danger">*</em> </label>
                                    <input type="text" class="form-control" id="txtModuleName" placeholder="Module Name" msg-value="module name" required>
                                    <span id="errtxtModuleName" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Module Description :  </label>
                                    <textarea placeholder="Module Description" class="form-control" id="txtModuleDescription" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Status :  <em class="text-danger">*</em> </label>
                                    <select id="ddlStatus" class="form-control" required>
                                        <option value="">Select</option>
                                        <option value="active">Active</option>
                                        <option value="inactive">Inactive</option>
                                    </select>
                                    <span id="errddlStatus" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-info" id="btnSubmit">Submit</button>
                            <button type="button" class="btn btn-secondary" id="btnClear">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


