@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Country";
    Layout = "~/Areas/ProductOwner/Views/Shared/_ProductOwner.cshtml";
}
<br />



<div class="wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Login</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Smart PreSchool</a></li>
                        <li class="breadcrumb-item active">Login</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">

                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Country Masterr</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Country Name</label>
                                <div class="col-sm-10">
                                    <input type="text" name="CountryName" class="form-control" id="txtCountryName" placeholder="Country Name" msg-value="country name" required>
                                    <span id="errtxtCountryName" class="hidden-span text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Status</label>
                                <div class="col-sm-10">
                                    <select id="ddlRole" class="form-control" required name="Role">
                                        <option value="0">Select</option>
                                        <option value="true">Active</option>
                                        <option value="true">InActive</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-info" id="btnSubmit">Submit</button>
                            <button type="button" class="btn btn-secondary" id="btnClear">Clear</button>

                        </div>
                        <!-- /.card-footer -->
                    </div>

                </div>



                <!-- /.col -->
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Country List</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">


                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
        </div><!-- /.container-fluid -->
        <div id="divcategory">
        </div>
    </section>
    <!-- /.content -->
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Common/CommonUtlility.js"></script>
<script src="~/js/Common/Constant.js"></script>
<script src="~/js/ProductOwner/Country.js"></script>