
@{
    ViewData["Title"] = "AddAdvertisement";
    Layout = "~/Areas/ProductOwner/Views/Shared/_ProductOwner.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Add Advertisement</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Name : <em class="text-danger">*</em> </label>
                                    <input type="text" class="form-control" id="txtName" placeholder="Name" msg-value="name" required>
                                    <span id="errtxtName" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Start Date:</label><br />
                                    <input type="date" id="txtStartDate" name="start date">
                                    <span id="errtxtStartDate" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>End Date:</label><br />
                                    <input type="date" id="txtEndDate" name="end date">
                                    <span id="errtxtEndDate" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Advertisement Type :  <em class="text-danger">*</em> </label>
                                    <select id="ddlAdvertisementType" class="form-control" required>
                                        <option value="">Select</option>
                                    </select>
                                    <span id="errddlAdvertisementType" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Content :  <em class="text-danger">*</em> </label>
                                    <textarea placeholder="Content" class="form-control" id="txtContent" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Image :  <em class="text-danger">*</em> </label><br />
                                    <input type='file' name='userFile'>
                                    @*<label class="btn btn-default">
                                        Browse <input type="file" hidden>
                                    </label>*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Is Image Advertisement : <em class="text-danger">*</em> </label>
                                    <br />
                                    <input type="radio" id="" name="" value="">
                                    <label>Yes</label>
                                    <input type="radio" id="" name="" value="">
                                    <label>No</label>
                                    <span id="errtxtIsImageAdvertisement" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Status :  <em class="text-danger">*</em> </label>
                                    <select id="ddlStatus" class="form-control" required>
                                        <option value="">Select</option>
                                        <option value="active">Active</option>
                                        <option value="inactive">Inactive</option>
                                    </select>
                                    <span id="errddlStatus" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Description :  </label>
                                    <textarea placeholder="Description" class="form-control" id="txtDescription" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-info" id="btnSubmit">Submit</button>
                            <button type="button" class="btn btn-secondary" id="btnClear">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

