
@{
    ViewData["Title"] = "DomainDetails";
    Layout = "~/Areas/ProductOwner/Views/Shared/_ProductOwner.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Domain Plan Details</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Domain Name : <em class="text-danger">*</em> </label>
                                    <input type="text" class="form-control" id="txtDomainName" placeholder="Domain Name" msg-value="domain name" required>
                                    <span id="errtxtDomainName" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Domain Validity : <em class="text-danger">*</em> </label>
                                    <input type="text" class="form-control" id="txtDomainValidity" placeholder="Domain Validity" msg-value="domain validity" required>
                                    <span id="errtxtDomainValidity" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Domain Cost : <em class="text-danger">*</em> </label>
                                    <input type="text" class="form-control" id="txtDomainCost" placeholder="Domain Cost" msg-value="domain cost" required>
                                    <span id="errtxtDomainCost" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Offer Cost : </label>
                                    <input type="text" class="form-control" id="txtOfferCost" placeholder="Offer Cost" msg-value="offer cost" required>
                                    <span id="errtxtOfferCost" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Offer Period :  </label>
                                    <br />
                                    <label>Start Date:</label>
                                    <input type="date" id="txtOfferPeriod" name=""><br />
                                    <label>End Date:</label>
                                    <input type="date" id="txtOfferPeriod" name="">
                                    <span id="errtxtOfferPeriod" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Without Offer Cost : <em class="text-danger">*</em> </label>
                                    <input type="text" class="form-control" id="txtWithoutOfferCost" placeholder="Without Offer Cost" msg-value="without offer cost" required>
                                    <span id="errtxtWithoutOfferCost" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Is Offer Live : </label>
                                    <br />
                                    <input type="radio" id="yes" name="" value="">
                                    <label>Yes</label>
                                    <input type="radio" id="no" name="" value="">
                                    <label>No</label>
                                    <span id="errtxtIsOfferLive" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Feature List :  <em class="text-danger">*</em></label>
                                    <br />
                                    <label>
                                        <input type="checkbox" name="5 Email" value="1" />
                                        5 Email
                                    </label>
                                    <br />
                                    <label>
                                        <input type="checkbox" name="10 Email" value="2" />
                                        10 Email
                                    </label>
                                    <span id="errtxtFeatureList" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Status :  <em class="text-danger">*</em> </label>
                                    <select id="ddlStatus" class="form-control" required>
                                        <option value="">Select</option>
                                        <option value="active">Active</option>
                                        <option value="inactive">Inactive</option>
                                    </select>
                                    <span id="errddlStatus" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Description :  </label>
                                    <textarea placeholder="Description" class="form-control" id="txtDescription" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-info" id="btnSubmit">Submit</button>
                            <button type="button" class="btn btn-secondary" id="btnClear">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

