
@{
    ViewData["Title"] = "HostingDetails";
    Layout = "~/Areas/ProductOwner/Views/Shared/_ProductOwner.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Hosting Plan Details</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Hosting Plan Name : <em class="text-danger">*</em> </label>
                                    <input type="text" class="form-control" id="txtHostingPlanName" placeholder="Hosting Plan Name" msg-value="hosting plan name" required>
                                    <span id="errtxtHostingPlanName" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Plan Validity : <em class="text-danger">*</em> </label>
                                    <input type="text" class="form-control" id="txtPlanValidity" placeholder="Plan Validity" msg-value="Plan validity" required>
                                    <span id="errtxtPlanValidity" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Actual Cost : <em class="text-danger">*</em> </label>
                                    <input type="text" class="form-control" id="txtActualCost" placeholder="Actual Cost" msg-value="actual cost" required>
                                    <span id="errtxtActualCost" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Offer Cost : </label>
                                    <input type="text" class="form-control" id="txtOfferCost" placeholder="Offer Cost" msg-value="offer cost" required>
                                    <span id="errtxtOfferCost" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Offer Period :  </label>
                                    <br />
                                    <label>Start Date:</label>
                                    <input type="date" id="txtOfferPeriod" name=""><br />
                                    <label>End Date:</label>
                                    <input type="date" id="txtOfferPeriod" name="">
                                    <span id="errtxtOfferPeriod" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Without Offer Cost : <em class="text-danger">*</em> </label>
                                    <input type="text" class="form-control" id="txtWithoutOfferCost" placeholder="Without Offer Cost" msg-value="without offer cost" required>
                                    <span id="errtxtWithoutOfferCost" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Is Offer Live : </label>
                                    <br />
                                    <input type="radio" id="yes" name="" value="">
                                    <label>Yes</label>
                                    <input type="radio" id="no" name="" value="">
                                    <label>No</label>
                                    <span id="errtxtIsOfferLive" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Feature List :  <em class="text-danger">*</em></label>
                                    <br />
                                    <label>
                                        <input type="checkbox" name="1 GB" value="1" />
                                        1 GB
                                    </label>                                    
                                    <label>
                                        <input type="checkbox" name="2 GB" value="2" />
                                        2 GB
                                    </label>                                    
                                    <label>
                                        <input type="checkbox" name="5 GB" value="3" />
                                        5 GB
                                    </label>    
                                    <br/>
                                    <label>
                                        <input type="checkbox" name="10 GB" value="4" />
                                        10 GB
                                    </label>
                                    <label>
                                        <input type="checkbox" name="15 GB" value="5" />
                                        15 GB
                                    </label>
                                    <span id="errtxtFeatureList" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Database :  <em class="text-danger">*</em></label>
                                    <br />
                                    <label>
                                        <input type="checkbox" name="1 sql Database" value="1" />
                                        1 sql Database
                                    </label>
                                    <br />
                                    <label>
                                        <input type="checkbox" name="2 sql Database" value="2" />
                                        2 sql Database
                                    </label>
                                    <span id="errtxtDatabase" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Status :  <em class="text-danger">*</em> </label>
                                    <select id="ddlStatus" class="form-control" required>
                                        <option value="">Select</option>
                                        <option value="active">Active</option>
                                        <option value="inactive">Inactive</option>
                                    </select>
                                    <span id="errddlStatus" class="hidden-span text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Description :  </label>
                                    <textarea placeholder="Description" class="form-control" id="txtDescription" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-info" id="btnSubmit">Submit</button>
                            <button type="button" class="btn btn-secondary" id="btnClear">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

